<div class="list-group d-inline-block list-group-flush my-3">
    
                <small class="text-uppercase text-muted px-4 mb-2" style="font-size: 0.75rem;">Menu</small>
                
                <a href='/admin/dashboard' class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-th-large me-3"></i>Dashboard
                </a>
                <a href="/admin/products" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-box me-3"></i>Products
                </a>
                <a href="/admin/categories" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-layer-group me-3"></i>Category
                </a>
                <a href="/admin/order" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-shopping-cart me-3"></i>Orders
                </a>
                <a href="/offers" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas bi-gift me-3"></i>Offer
                </a>
                <a href="/coupon" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-ticket-alt me-3"></i>Coupon
                </a>
                <a href="/reports" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-wallet me-3"></i>Sales Report
                </a>

                <small class="text-uppercase text-muted px-4 mt-4 mb-2" style="font-size: 0.75rem;">User Management</small>
                
                <a href="/admin/user" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="far fa-user me-3"></i>Customers
                </a>

                <small class="text-uppercase text-muted px-4 mt-4 mb-2" style="font-size: 0.75rem;">Others</small>
                <a href="/admin/logout" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-sign-out-alt me-3"></i>Logout
                </a>
            </div>
        </div>