<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/userStyle/otpStyle.css">
    <title>OtpVarification</title>
</head>
<body>
<%- include('../partials/notification.ejs')%>
   
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="p-5 bg-light border rounded" style="width: 360px;">

        <h5 class="text-center fw-bold">Enter otp</h5>
        <p class="text-center text-muted mb-4" style="font-size: 14px;">
            we have send a otp verification<br>
            code to your email
        </p>
        <form id="form">
        <div class="mb-4 text-center">
            <input type="text" name="otp" id="otp" class="form-control text-center" placeholder="Enter OTP">
             <input type="hidden" name="email" value="<%= email %>">
        </div>
        <p id="error" class="text-danger"></p>
        <button type="submit" id="submit" class="btn  btn-primary w-100 mb-3">verify</button>
         <div class="timer">
           Resend otp again in <span class="text-bold" id="time">01:00</span>
        </div>
        </form>
           <form action="/signup" method="post">
             <p  id="resend"  class="text-center text-muted d-none">
            didn't receive the code?<br>
             <input type="hidden" name="email" id="email" value="<%= email %>">
            <button type="button" onclick="sendEmail()"  class=" btn btn-primary ">resend code</button>
            </p>
           </div>

    </div>
</div>
<%- include("../partials/footer") %>
</body>
<script>

    function sendEmail(){
    
  const email =  document.getElementById("email").value
            
            
        const data = JSON.stringify({email})
        fetch('/resetPassword',{
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body:data
        }).then(data=>data.json())
        .then((data=>{
            window.location.href=data.href;
        }))
    }



   
    document.getElementById("submit").addEventListener('click',(e)=>{
      const form =   document.getElementById('form')
        e.preventDefault()
        if(document.getElementById("otp").value===""){
             
            return document.getElementById("error").textContent="OTP Required";

        }
        const data = JSON.stringify({
            otp:form.otp.value,
            email:form.email.value
        })
        fetch('/otpVerificationResetPassword',
            {method:'POST',
                headers:{'Content-type':"application/json"},
                body:data
            },
           
        ).then(data=>data.json())
        .then(data=>{
            if(data.type === 'success'){
                window.location.href = data.href
            }
            else if(data.type === 'error'){
                showToast(data.message,"error");
            }
        })
        


    })

 
  const  resendDiv = document.querySelector("#resend")
   const  timerEl = document.getElementById('time');


    time = 50;
   resendDiv.classList.add('d-none')
    timerEl.innerText = "01:00";

    setInterval(() => {
      let min = Math.floor(time / 60);
      let sec = time % 60;

      timerEl.innerText = `${min}:${sec < 10 ? '0' : ''}${sec}`;

      if (time <= 0) {
        timerEl.innerText = ''
        document.querySelector('.timer').classList.add('d-none')
        resendDiv.classList.remove('d-none')
      }

      time--;
    }, 1000);

   
</script>
<script src="/script/tost.js"></script>
</html>