.loader-overlay {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}


.circle-loader {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.6);
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background: transparent;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}